USE [PWC_CTRDB]
GO
/****** Object:  Table [dbo].[o_data]    Script Date: 1/12/2018 1:29:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[o_data](
	[N_RA_ID] [float] NULL,
	[Customer_ID] [nvarchar](255) NULL,
	[Customer_Type] [nvarchar](255) NULL,
	[Customer_Name] [nvarchar](255) NULL,
	[Risk_Category] [float] NULL,
	[Customer_RiskScore] [float] NULL,
	[Risk_parameter] [nvarchar](255) NULL,
	[Risk_Details] [nvarchar](255) NULL,
	[Risk_Score] [float] NULL,
	[Risk_Scoring_Model] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[zzzz_data]    Script Date: 1/12/2018 1:29:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[zzzz_data](
	[CUSTOMER_ID] [varchar](32) NOT NULL,
	[CUSTOMER_NAME] [varchar](1000) NULL,
	[CUSTOMER_TYPE_CODE] [varchar](20) NULL,
	[PRIME_BRANCH_ID] [varchar](32) NULL,
	[CUSTOMER_STATUS_CODE] [varchar](10) NULL,
	[KYC_RISK_SCORE] [smallint] NULL,
	[KYC_RISK_RATING] [varchar](1) NULL,
	[P1_RISK] [smallint] NULL,
	[P2_RISK] [smallint] NULL,
	[P3_RISK] [smallint] NULL,
	[P4_RISK] [smallint] NULL,
	[P5_RISK] [smallint] NULL,
	[C1_RISK] [smallint] NULL,
	[C2_RISK] [smallint] NULL,
	[C3_RISK] [smallint] NULL,
	[C4_RISK] [smallint] NULL,
	[NATIONALITY_CODE] [varchar](3) NULL,
	[COUNTRY_OF_RESIDENCE] [varchar](3) NULL,
	[OCCUPATION] [varchar](50) NULL,
	[FCCM_OCCUPATION] [varchar](50) NULL,
	[BUSINESS_TYPE] [varchar](100) NULL,
	[FCCM_INDUSTRY] [varchar](100) NULL,
	[INCORPORATION_DATE] [date] NULL,
	[CORP_AGE_MTH] [int] NULL,
	[ACQUISITION_DATE] [date] NULL,
	[DATE_OPENED] [date] NULL,
	[LEN_OF_REL_MTH] [int] NULL,
	[PRODUCT_SOURCE_TYPE_CODE] [varchar](20) NULL,
	[FCCM_ACCT_TYPE] [varchar](20) NULL,
	[P1_CITIZENSHIP_RISK] [smallint] NULL,
	[P2_RESIDENCY_RISK] [smallint] NULL,
	[P3_OCCUPATION_RISK] [smallint] NULL,
	[P4_LEN_OF_REL_RISK] [smallint] NULL,
	[P5_ACCT_TYPE_RISK] [smallint] NULL,
	[C1_CORP_AGE_RISK] [smallint] NULL,
	[C2_INDUSTRY_RISK] [smallint] NULL,
	[C3_LEN_OF_REL_RISK] [smallint] NULL,
	[C4_ACCT_TYPE_RISK] [smallint] NULL,
	[P1W] [numeric](3, 2) NULL,
	[P2W] [numeric](3, 2) NULL,
	[P3W] [numeric](3, 2) NULL,
	[P4W] [numeric](3, 2) NULL,
	[P5W] [numeric](3, 2) NULL,
	[C1W] [numeric](3, 2) NULL,
	[C2W] [numeric](3, 2) NULL,
	[C3W] [numeric](3, 2) NULL,
	[C4W] [numeric](3, 2) NULL,
	[RUN_DT] [date] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[o_data] ([N_RA_ID], [Customer_ID], [Customer_Type], [Customer_Name], [Risk_Category], [Customer_RiskScore], [Risk_parameter], [Risk_Details], [Risk_Score], [Risk_Scoring_Model]) VALUES (56484, N'700726055404', N'IND', N'TEO GEOK TIN', 2, 46, N'MB_CCR_ACT_PRD_RSK', N'Account Processing - Account Type:Credit Card-CC', 8, N'MB')
INSERT [dbo].[o_data] ([N_RA_ID], [Customer_ID], [Customer_Type], [Customer_Name], [Risk_Category], [Customer_RiskScore], [Risk_parameter], [Risk_Details], [Risk_Score], [Risk_Scoring_Model]) VALUES (56484, N'700726055404', N'IND', N'TEO GEOK TIN', 2, 46, N'MB_CCR_ACT_PRD_RSK', N'Account Processing - Account Type:Current Account-CHK', 8, N'MB')
INSERT [dbo].[o_data] ([N_RA_ID], [Customer_ID], [Customer_Type], [Customer_Name], [Risk_Category], [Customer_RiskScore], [Risk_parameter], [Risk_Details], [Risk_Score], [Risk_Scoring_Model]) VALUES (56484, N'700726055404', N'IND', N'TEO GEOK TIN', 2, 46, N'MB_CCR_ACT_PRD_RSK', N'Account Processing - Account Type:Fixed Deposit-TERM', 8, N'MB')
GO
